/* lg */
@media (min-width: 768px) {
	.overlay {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.4);
		z-index: 1;
	}
	.kartica-logo {
		max-height: 100px;
		z-index: 2;
		position: relative;
	}

	.logo-pozicija {
		display: flex;
		flex-direction: row;
		justify-content: left;
	}

	.u-izradi-tekst {
		font-size: 20px;
		font-family: "Muli";
		color: rgb(255, 255, 255);
		font-weight: 600;
		/* height: 100px; */
		display: flex;
		flex-direction: column;
		justify-content: center;
		z-index: 2;
	}

	.linija {
		margin-right: 20px;
		margin-top: 6px;
		width: 180px;
		height: 2px;
		background-color: #fff;
		z-index: 2;
		-webkit-animation: linija2 1s; /* Safari 4+ */
		-moz-animation: linija2 1s; /* Fx 5+ */
		-o-animation: linija2 1s; /* Opera 12+ */
		animation: linija2 1s; /* IE 10+, Fx 29+ */
	}
	.position-linija {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.pozicija-glavnog-sadrzaja {
		display: flex;
		height: 60vh;
		flex-direction: column;
		justify-content: flex-end;
	}
	.full-service {
		font-size: 20px;
		font-family: "Muli";
		color: rgb(255, 255, 255);
		font-weight: 600;
		position: relative;
		z-index: 2;
	}
	.strategija {
		font-size: 60px;
		font-family: "Muli";
		color: rgb(255, 255, 255);
		position: relative;
		font-weight: 900;
		z-index: 2;
	}

	.linija-2 {
		position: relative;
		border-bottom: 2px solid #fff;
		z-index: 2;
		max-width: 200px;
		margin-top: 30px;
		margin-bottom: 30px;
		-webkit-animation: linija2 1s; /* Safari 4+ */
		-moz-animation: linija2 1s; /* Fx 5+ */
		-o-animation: linija2 1s; /* Opera 12+ */
		animation: linija2 1s; /* IE 10+, Fx 29+ */
	}

	.kontaktirajte-nas {
		margin-top: 20px;
		font-size: 18px;
		padding-left: 45px;
		padding-right: 45px;
		border-radius: 8px;
		border: none;
		background-color: #ececec;
		font-family: "Muli";
		color: rgb(177, 28, 116);
		font-weight: 600;
		height: 50px;
		position: relative;
		z-index: 2;
	}
	.kontaktirajte-nas:focus {
		border: none !important;
		box-shadow: none !important;
		background-color: #ececec !important;
		color: rgb(177, 28, 116) !important;
	}

	.kontaktirajte-nas:hover {
		border: none !important;
		box-shadow: none !important;
		background-color: #ececec !important;
		color: rgb(177, 28, 116) !important;
	}
}

/* sm */
@media (max-width: 766px) {
	.overlay {
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.4);
		z-index: 1;
	}
	.kartica-logo {
		max-height: 80px;
		z-index: 2;
		position: relative;
	}

	.logo-pozicija {
		display: flex;
		flex-direction: row;
		justify-content: left;
	}

	.u-izradi-tekst {
		font-size: 15px;
		font-family: "Muli";
		color: rgb(255, 255, 255);
		font-weight: 600;
		/* height: 100px; */
		display: flex;
		flex-direction: column;
		justify-content: center;
		z-index: 2;
	}

	.linija {
		margin-right: 10px;
		margin-top: 2px;
		width: 40px;
		height: 2px;
		background-color: #fff;
		z-index: 2;
	}
	.position-linija {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.pozicija-glavnog-sadrzaja {
		display: flex;
		height: 60vh;
		flex-direction: column;
		justify-content: flex-end;
	}
	.full-service {
		font-size: 16px;
		font-family: "Muli";
		color: rgb(255, 255, 255);
		font-weight: 600;
		position: relative;
		z-index: 2;
	}
	.strategija {
		font-size: 45px;
		font-family: "Muli";
		color: rgb(255, 255, 255);
		position: relative;
		font-weight: 900;
		z-index: 2;
	}

	.linija-2 {
		position: relative;
		border-bottom: 2px solid #fff;
		z-index: 2;
		max-width: 120px;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.kontaktirajte-nas {
		margin-top: 20px;
		font-size: 16px;
		padding-left: 35px;
		padding-right: 35px;
		border-radius: 8px;
		border: none;
		background-color: #ececec;
		font-family: "Muli";
		color: rgb(177, 28, 116);
		font-weight: 600;
		height: 50px;
		position: relative;
		z-index: 2;
	}
	.kontaktirajte-nas:focus {
		border: none !important;
		box-shadow: none !important;
		background-color: #ececec !important;
		color: rgb(177, 28, 116) !important;
	}

	.kontaktirajte-nas:hover {
		border: none !important;
		box-shadow: none !important;
		background-color: #ececec !important;
		color: rgb(177, 28, 116) !important;
	}
}

@-webkit-keyframes linija2 {
	0% {
		max-width: 10px;
	}
	100% {
		max-width: 200px;
	}
}

@-moz-keyframes linija2 {
	0% {
		max-width: 10px;
	}
	100% {
		max-width: 200px;
	}
}
@-o-keyframes linija2 {
	0% {
		max-width: 10px;
	}
	100% {
		max-width: 200px;
	}
}
@keyframes linija2 {
	0% {
		max-width: 10px;
	}
	100% {
		max-width: 200px;
	}
}
